body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  color: white;
  background-color: indigo;
  text-align: center;
  font-size: 40px;
  height: 100%;;
  width: 30%;
  font-family: arial;
  padding-top: 25px;
  position: absolute;
}

input[type=text] {
  width: 100px;
  height: 20px;
  margin-top: px;
}

#map {
  margin-left: 30%;
  height: 680px;
}
